[submodule "source/_static/MathJax"]
	path = source/_static/MathJax
	url = https://github.com/mathjax/MathJax.git
[submodule "source/ML_Notes/winograd6x3"]
	path = source/ML_Notes/winograd6x3
	url = https://gitee.com/ajz34/winograd6x3.git
